* {
    font-family: Verdana, Arial, Tahoma;
    font-size: 10pt;
}

body {
    margin: 0;
    color: black;
    background-color: white;
}

img {
    border: 0;
}

a {
    color: rgb(0, 102, 204);
    background-color: inherit;
    text-decoration: none;
}
a:hover {
    color: rgb(153, 153, 153);
    background-color: inherit;
    text-decoration: underline;
}

table * {
    vertical-align: top;
}