TABLE {  border-collapse: collapse; font-family: Arial, sans-serif; }

TH { border: solid; font-weight: bold; text-align: center; background-color:#AAAAAA; foreground-color:#FFFFFF; }

TR { vertical-align: middle; }

TD { border: solid; border-width: thin; padding: 3px; text-align: left; vertical-align: middle; word-wrap: break-word; }

TD:hover[onclick]{background-color:#F0F0F0; cursor:pointer}

.black {background-color: #383838; color:#E0E0E0;}
.gray {background-color: #585858; color:#E0E0E0;}

.title tr td {border: none;}
.td-timestamp p {font-size: 10px;text-align:center}

.check {vertical-align: top; }

video {
    max-width:360px;
    max-height:360px;
}

audio {
    max-width:100%;
    width:360px;
}

.thumb {
    max-width: 360px;
    max-height: 360px;
}

div.audioImg {
    width: 100px;
    height: 102px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIMAAACFCAMAAABPGrtJAAABv1BMVEXnlIHkjnrfg27cfGbbeWLad2DkjXnlj3zef2nbeGHee2PffGTgfWXdfmjlj3vji3fcemPiinXceWHegGrghnHgg2zffmbffWXce2TjjHjggWnkj3vgf2fkkHzhgGnihW/ihnDjjXnihG3jinThiHPlkHziiXTiiHLkkHvggGnonIrggmvmlYPomojji3blkX3mlIHom4nqopLhf2jol4Tihm/efmjnk4DomIbpn43gfmbpoI/nlIDff2jomIXmlYLpnozpnYziiXXlkn7onYvdfGbmkn/rqZnkjnnmk4DefWfol4XkjXjfgm3rqJjrp5fjiHLhgmvjinXomYfpn47rpJTsq5ztrqDtsKLjinbonYzjjHfkjHjcemLki3bpnIrpo5LgfmfnmojhhnHhh3Lnl4TqoZDdemLdf2nqopHqpZXfg23ihG7rpZbnloPhg2zdfWfhgWrrppbad2Hce2XaeGHsqJnjh3HrqJnsqprlk3/lkXzrqpvnlYLrpZXpoZDig23pnYvtrJ3mloPhgGjsrJzqo5Lsq53nmIbnmIXsrJ3qpJPtrZ/qpZTmlYHtrp/pm4ntr6Hrp5jsr6DtsaN3l1VvAAACsklEQVR42u2Z+XPSQBSAA41iyBbopVarVhTUKhUBbQQtxatVbAPFUo/WE6X1oIj1Ntb7wqMef7Cj+xJICR2dySY6877f3u7O7je7YY8HxyEIgiAIgiD/Bg5nC7+Cb3GutM3AtUpwi4QQ0S20euxR8PrcREX0ee1QaGsn9bS3Wa/g8RE9PuuXo4MspcPyX4TY4CA6LHboJI10WuzQZeDQZbHDagOHNRY7ECPQAR3QAR3QAR3QAR3QAR3QYXnW8r/x/oFDN23Km+6wjg6zHsIeA4UeqNtAw42mO2yiHXdD2Gvg0At1m2noN91hC+14K4QBA4cA1AVpuM10h+204x0Q9hk49EHdThqa/wzfBQ98Fw1D/Q0K/SFatRvSAmHTHfYQ/WJEoksUohH9UpCQ6Q6xvbTnfQM0lvbHdQrxhEQrDhyET3LQ/A0iCYMFIR5K1M9ENJGC8kOwFIcZbFJHYLSjx6AgNTyiKYwMqwrHT0BRioFD+iR0PqqWSGNyOJONZzNheUxSC50wDeM5Frv1KXBwB7Wi3ER+8vRkfqI23hk1b3qWyYkRUifCd65pm6lpaHP+Aptj66L6EU43SwxPqYnTSxFGR2f6spYYvmLYoMCrDa5KrM7va+pqkKJBoj4wU1Srx2fZXSKua8elyI+69AY3eC11e/MWw4tMSZ7TtgS3UC446KY54Cm0CrU/Em5XYixvU2nZX5egLgp35ssz5fm7QrEufZ2tSBxTpHv39YnyX+hvMg9yHGNiDx+R5Xj8ZJBjjvJ04VlTg7lERbHkXv/8xctXhgbR5Oshqx4Xypu37/yNc/D+Q1XhrKM0+/FTMlO7xcQzn6tfIiWLH1rcYjX/9RsoyN/z1UXOFpQcOOQUzj7seeyiAzqgAzqgw9/wg8IhCIIgCIIgCIIgCIIgCIIgyH/FT/Kdifb88m8QAAAAAElFTkSuQmCC");
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

div.videoImg {
    width: 100px;
    height: 102px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIMAAACFCAAAAABdrxSnAAABIElEQVR42u3Wz27CMAzHcTsFqRIdu5QDe7C9/x1pBxb1D22SPQBDYlbA2/TtuZY+zc+Oq+/i/gTBgAEDBgwYMGDAgAHDfzBszJV5uKS7Xjw8zLCciwbfc8hnUVNhkatCq2E0nl5cr8OxGhbT4cU5hHpZJEPNMHw/hpunTeAlZq09mz+PQcXVcCuG5xmWz6zed/VU1H1fNOxNDBgwYMDwRwwvrb+h9H3jbchj87ZX3/8okTV13cfk3JNlXm4GYjVsKwZiNbSWQMbu2Fbsh92QLIGEvhGJlQzr4ZRME1Ixi5KP+63W6VfzbKape73vA+LDDFJmdhYGDBgwYMCAAQMGDBgwYMCAAQMGDBgwYMCAAQMGDBgwYMCAAQMGDBgw/H7DF6f1Qrdy7jA4AAAAAElFTkSuQmCC");
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

div.imageImg {
    width: 100px;
    height: 102px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIMAAACFCAMAAABPGrtJAAABQVBMVEXTsu3Kp+bJpua/nOC+mt+/mt++md7Ho+TBneLAm+HLqefFoeTNrenWue7Wt+7EoeTNrOnVuO7Yu+/UtO3SsezMqejGouTBneDVt+7RsOzLqOfEoOK/mt6/muDKqOfQr+vDn+LCnuHJp+bPsOrUtu3Xu+/WuO7Tte3Pr+rDoOPXue/Vtu7UtO7Ts+3AnOHXuu/MrOjCneLTtezCnuLVtu3Vte7Nq+nMqujUtuzBnOHTtOzSsOzBnODNrejAm9/NrOjEoePWtu7EoOPQsOrAnODUte7IpeXKqObPrurBneHOrurRsevPrerTsuzMq+jSsuzOrenQsOvNq+jTs+7IpubKqefIpuXUtOzBnOLCneHOrunPr+nUs+3NqujDoOLLqui/m+DQruvVuO3JqOfRr+vYvO7StOzOrOnDn+HZvfDZvO9tRFtFAAACWklEQVR42u2Ya3PSQBSGC2wiVBqRoAgVekGRcqsUCZZitdqitbbaeimitqXi9f//APdscCQXZ6pTDo7zPp/IG2b2md1NztlMTQEAAAAAAAD+KQJBJ4EJOISEkxDDmJpuc2F4HY44CTM4/BxzetIOF6MzxkQdLsUuxw0zceVqktYl4kZ3o527Q/SaFEilZ6+LTORsnP/MSIHsrH5mgXE4zAXm/0hgDA4LfgLhxdyNmZv5W4XFMIeDzwws5eLFUtmsmOVSMZ5bGr+DZ4BqbLk0cr+0fLvK7VBbMdx7dqXG61C/0xhuVatpzdk/G3drnA6rLZPCtWBbl9VKTwbX6NJsVcfpkHA63CtT2FwXw2ux3qSgfJ/P4cGGaiDESCRU+7DxkM3hkZoF4ciEmokcl0Od9mMq5NqmmymZbtWZHLKUdDxvjA7Fj5kcnlCy7XHYpvgpk8OODJ751Ady22Fy2JXBno9DTObPmRwq9FT4OOzJfJfJISGDmI/DC3p1MjlQfdj3cdin+sHkcCCDl96upUY15IDJ4RUlWY/Da4rfcL0nKTlcdSl0Dyl+y1UvLCrUPZfDu/cy/cBWs45U33TsyI5VX3XE5pBJU5bv/VqObi9PUTrD18Oc9NVMnH7s2oNlT9Us9E/G2cNUXIvfHqjmrfjpcyFaaMWLqrUbbPL21e2+7dYwDGPY3vbb3OcLbdr1j7TGfsaJiPkvI/etr4L/nCWfDpHsWLQvBlYn6XccZnBQGrqu6b87j/M48J794WDz7S/4jo/ZAAAAAAAAAAAAAAAAAAAAAAAAAADgf+cH+4h7ZA02QqMAAAAASUVORK5CYII=");
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

