/********************************************
 * WhatsApp Exporter - Default CSS Template *
 ********************************************
 
 URL: http://whatsapp.livetrack.mobi/

 */


/****************
 * Font Imports *
 ****************/
 
@font-face
{
	font-family: 'Roboto-Light';
	src: url("../../../../indexador/htm/whatsapp/fonts/Roboto-Light.ttf");
}

@font-face
{
	font-family: 'Roboto-Medium';
	src: url("../../../../indexador/htm/whatsapp/fonts/Roboto-Medium.ttf");
}

/***********
 * General *
 ***********/

body
{
	background-image:url("../../../../indexador/htm/whatsapp/img/wallpaper.jpg");
	background-size: 642px;
	background-repeat:repeat-y;
	margin:0 auto;
}


/********************
 * WhatsApp Top Bar *
 ********************/
 
#topbar
{
	position:fixed;
	background:#475959;
	border:1px solid #394d4d;
	width:640px;
	z-index:100;
}

#topbar .left
{
	float: left;
	display:block;
	margin:0.5em;
	color: #ffffff;
	font-family: 'Roboto-Medium';
}

#topbar .right
{
	float: right;
	display:block;
	margin:0.5em;
}

/***********************
 * WhatsApp Chats List *
 ***********************/
 
#chatlist
{
	width: 640px;
	font-family: 'Roboto-Light';
}

#chatlist .contact
{
	cursor: pointer;
	height: 64px;
	background-color: #ffffff;
	border-bottom: 2px solid #e5e5e5;
	display: block;
	padding: 6px 6px;
	position: relative;
	vertical-align: top;
}

#chatlist .contact:hover
{
	background-color: #1ba4d3;
}
#chatlist .left
{
	float: left;
	display:block;
	margin:0.5em;
	color: #ffffff;
}

#chatlist .right
{
	float: right;
	display:block;
	margin:0.5em;
	color: #666666;
	font-family: 'Roboto-Light';
}

/**************************
 * WhatsApp Conversations *
 **************************/
 
#conversation
{
	width: 640px;
	font-family: 'Roboto-Light';
}

#conversation .linha
{
	display: block;
}

#conversation .linha:after
{
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#conversation .incoming, #conversation .outgoing,
 #conversation .date, #conversation .systemmessage, 
 #conversation .specialmessage {
	cursor: pointer;
	border-radius: 2px;
	box-shadow: 0 0 6px #b8b7b7;
	display: block;
	padding: 10px 18px;
	vertical-align: top;
	position: relative;
}

#conversation .date
{
	background-color: #d7f5ff;
	color: 92998b;
	width: 160px;
	margin: 0 auto;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}

#conversation .systemmessage
{
	background-color: #f7f76e;
	color: 92998b;
	margin: 0 auto;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}

#conversation .systemmessage:hover
{
	background-color: #f0f075;
}

#conversation .pages
{
	background-color: #f4fa58;
	color: 92998b;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}

#conversation .time
{
	color: 92998b;
	float: right;
	padding-left: 12px;
}

#conversation .incoming
{
	background-color: #fcfbf6;
}

#conversation .incoming:hover
{
	background-color: #def1f3;
}

#conversation .incoming:before
{
	background-color: #fcfbf6;
	content: "\00a0";
	display: block;
	height: 16px;
	position: absolute;
	top: 11px;
	transform:         rotate(29deg) skew(-35deg);
	-moz-transform:    rotate(29deg) skew(-35deg);
	-ms-transform:     rotate(29deg) skew(-35deg);
        -o-transform:      rotate(29deg) skew(-35deg);
        -webkit-transform: rotate(29deg) skew(-35deg);
	width:  20px;
}

#conversation .incoming:hover:before
{
	background-color: #def1f3;
}

#conversation .specialmessage
{
	background-color: #66ccff;
}

#conversation .specialmessage:hover
{
	background-color: #00aaff;
}

#conversation .specialmessage:before
{
	background-color: #66ccff;
	content: "\00a0";
	display: block;
	height: 16px;
	position: absolute;
	top: 11px;
	transform:         rotate(29deg) skew(-35deg);
	-moz-transform:    rotate(29deg) skew(-35deg);
	-ms-transform:     rotate(29deg) skew(-35deg);
        -o-transform:      rotate(29deg) skew(-35deg);
        -webkit-transform: rotate(29deg) skew(-35deg);
	width:  20px;
}

#conversation .specialmessage:hover:before
{
	background-color: #00aaff;
}

#conversation .outgoing
{
	background-color: #f3ffe8;
}

#conversation .outgoing:hover
{
	background-color: #def1f3;
}

#conversation .outgoing:before
{
	background-color: #f3ffe8;
	content: "\00a0";
	display: block;
	height: 16px;
	position: absolute;
	top: 11px;
	transform:         rotate(29deg) skew(-35deg);
        -moz-transform:    rotate(29deg) skew(-35deg);
        -ms-transform:     rotate(29deg) skew(-35deg);
        -o-transform:      rotate(29deg) skew(-35deg);
        -webkit-transform: rotate(29deg) skew(-35deg);
	width:  20px;
}

#conversation .outgoing:hover:before
{
	background-color: #def1f3;
}

#conversation .to
{
	float: right;    
	margin: 5px 20px 5px 45px;         
}

#conversation .to::before
{
	box-shadow: 2px -2px 2px 0 rgba(178,178,178,.4);
	right: -9px;    
}

#conversation .from
{
	float: left;   
	margin: 5px 45px 5px 20px;         
}

#conversation .from::before
{
	box-shadow: -2px 2px 2px 0 rgba(178,178,178,.4);
	left: -9px;           
}

#conversation .thumb {
	max-width: 160px;
	max-height: 160px;
}