<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>files2</key>
        <dict>
            <key>Base.lproj/Main.storyboardc/MainController.nib</key>
            <dict>
                <key>hash</key>
                <data>
                    H4su9pQU+nD/V4ppfPwJGSNcjv8=
                </data>
                <key>hash2</key>
                <data>
                    8MhWcI9M79dqHp4tTbcUBwJCeu63sn/ekQKdGAVQLUM=
                </data>
            </dict>
        </dict>
    </dict>
</plist>